:root {
	// Site colors (Кольори сайту):
	// Background colors (Фонові кольори):
	// =================================================================
	--bg-primary: #FFF; // BG primary background color - (Основний фоновий колір сайту)
	--bg-secondary: #EDF7FA; // BG secondary background color - (Додатковий фоновий колір сайту)
	--bg-accent: #FF6464; // BG accent - наприклад, може бути використаний для встановлення кольору фону для акцентних елементів, таких як кнопки або іконки.
	// Text colors (Текстові кольори):
	// =================================================================
	--text-primary: #21243D; // Text primary text color - (Основний текстовий колір сайту)
	--text-secondary: #FFFFFF; // Text secondary text color - (Додатковий текстовий колір сайту)
	--text-accent_1: #FF6464; // Text accent - наприклад, може використовуватися для встановлення кольору тексту для акцентних елементів на сторінці, бо
	--text-accent_2: #00A8CC;
	--text-accent_3: #8695A4;
	// =================================================================
}